<%- include('head.ejs') %>
<%# TODO: css dla panelu admina %>
</head>

<body>
    <%- include('navigation.ejs') %>
    <main>
        <form action="/admin/products" method="POST">
            <button class="button products" type="submit">Produkty</button>
        </form>
        <form action="/admin/users" method="POST">
            <button class="button users" type="submit">Użytkownicy</button>
        </form>
        <form action="/admin/orders" action="POST">
            <button class="button orders" type="submit">Zamówienia</button>
        </form>
        <%# <p><a href="/settings">Ustawienia</a></p> %>
    </main>
</body>
</html>