<%- include('head.ejs') %>
</head>

<body>
    <%- include('navigation.ejs') %>
    <main>
        <h2><%= message %></h2>
        <h1>Zaloguj się</h1>
        <form action="/login" method="POST">
            <h2>Adres e-mail:</h2>
            <input type="text" name="log_email">
            <h2>Hasło:</h2>
            <input type="password" name="log_password">
            <button class="button login" type="submit">Zaloguj</button>
        </form>
        <h1>Nie masz konta? Zarejestruj się!</h1>
        <form action="/register" method="POST">
            <h2>Adres e-mail:</h2>
            <input type="text" name="reg_email">
            <h2>Hasło:</h2>
            <input type="password" name="reg_password">
            <button class="button login" type="submit">Zarejestruj</button>
        </form>
    </main>
</body>
</html>