<div class="scrollable-container">
    <main>
      <a href="/">
        <img src="graphics/logo.svg" alt="Online Shop Logo" id="logo">
      </a>
      <nav>
        <ul>
          <li><a href="/konto"><img src="graphics/account.png" id="account"></a></li>
          <li><a href="/koszyk"><img src="graphics/basket.png" id="basket"></a></li>
          <li><a href="/admin"><img src="graphics/administrator.png" id="admin"></a></li>
        </ul>
      </nav>
    </main>
</div>