  <nav>
    <a href="/">
      <img src="/graphics/logo.svg" alt="Online Shop Logo" id="logo">
    </a>
    <ul>
      <li>
        <div class="search-container">
          <form action="/search" method="post">
            <input type="text" name="query" placeholder="Szukaj...">
            <button type="submit">Szukaj</button>
          </form>
        </div>
      </li>
      <li><a href="/account"><img src="/graphics/account.png"></a></li>
      <li><a href="/cart"><img src="/graphics/cart.png"></a></li>
      <li><a href="/admin"><img src="/graphics/administrator.png"></a></li>
    </ul>
  </nav>