#logo {
    width: 17%;
    height: auto;
    position: absolute;
    left: 10%;
    top: 7%;
}

#admin {
    width: 40%;
    height: auto;
    position: relative;
}

#cart {
    width: 40%;
    height: auto;
    /*position: relative;*/
}

#account {
    width: 40%;
    height: auto;
    /*position: relative;*/
}

nav {
    position: absolute;
    top: 4.5%; 
    left: 75%;
}

nav ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
    display: flex;
}
