#logo {
    width: auto;
    height: 40px;
    position: relative;
}

.search-container {
    display: flex;
    text-align: center;
  }
  
  .search-container form {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px; 
  }
  
  .search-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #DBAE26;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
  }

nav {
    position: relative;
    padding: 20px 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav ul {
    height:100%;
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 20px;
}

nav ul li {
  align-items: center;
  height: 100%;
  display: flex;
}

nav ul li img {
  max-width: 30px;
  max-height: 100%;
}
