body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  margin-left: 20px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  padding: 10px;
  border: 1px solid #DBAE26;
  border-radius: 5px;
}

.grid-item p {
  margin: 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #DBAE26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #C98D1D;
}
