/* public/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#logo {
  width: 200px;
  height: auto;
  position: absolute;
  left: 180px;
  top: 50px;
}

#admin {
  width: 30px;
  height: auto;
  position: relative;
}

#basket {
  width: 30px;
  height: auto;
  position: relative;
}

#account {
  width: 30px;
  height: auto;
  position: relative;
}

nav {
  position: absolute;
  right: 70px;
  top: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

#start{
  position: absolute;
  left: 200px;
  top: 250px;
}

#foto{
  position: absolute;
  height: 600px;
  width: auto;
  left: 300px;
  top: -100px;
  z-index: -1;
}

#start_big_text{
  position: relative;
  font-size: 50px; 
  top: 20px;
  z-index: 1;
}

#click_rctg{
  width: 90px;
  height: 40px;
}

#kliknij{
  position: relative;
  color: black;
  user-select: none;
  text-decoration: none;
  top: -52px;
  left: 10px;
  font-size: small;
}

main {
  padding: 20px;
}